.header
    grid-area: hd;
    position: fixed;
    background-color: #0D0048;
    min-width: 100vw;
    z-index: 0;
    height: 80px;

    @media screen and (min-width: 600px)
        height: 120px;

.body
    grid-area: bd;
    overflow: hidden auto;
    margin-top: 80px;

    @media screen and (min-width: 600px)
        margin-top: 120px;

.navbar
    grid-area: nav;
    position: fixed;
    z-index: 1001;
    background-color: #FFFFFF;
    height: 100%;
    transition-property: transform;
    transition-duration: 0.5s;

.body::-webkit-scrollbar
    display: none;