.language-switcher
    position: absolute;
    right: 50px;

    select
        border: none;
        background: transparent;
        margin-left: auto;
    
    .light
        color: #edebf8;

        option
            background-color: #0d0048;

    .dark
        color: #000;

        option
            background-color: #edebf8;
